* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: #111;
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/R.jpg'); /* Substitua pelo caminho correto da imagem */
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
    animation: scale-up 10s infinite alternate ease-in-out;
  }
  
  .content {
    position: relative;
    z-index: 1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 0.5s;
  }
  
  button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.651);
    box-shadow: rebeccapurple;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 1s;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.219); 
  }
  
  /* Animações */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  @keyframes scale-up {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
  }